﻿/*
    Authors:  JP, SAM, JN, PS
    Project: https://bitbucket.org/JoelNussbaum/stebs

    1. General Style
    2. Top bar
    3. Left Sidebars
    4. Bottom bar
    5. Coding View
    6. Run and Debug-Controll Panel
    7. Register Watches
    8. Filemanagement
    9. CodeMirror external changes

*/

/* 1. General Style */

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    background-color: #333;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.changed {
    background-color: yellow;
}

.open-link-vertical {
    left: 100%;
    width: 30px;
    position: absolute;
}

.open-link-vertical button {
    height: 100%;
    width: 30px;
    background-repeat: no-repeat;
}

.open-link button {
    border: 0;
    padding: 0;
    background-color: transparent;
}

.open-link-horizontal {
    position: relative;
    box-sizing: border-box;
    height: 25px;
    width: 100%;
    font-size: 14px;
}

.open-link-horizontal button {
    height: 100%;
    width: 100%;
    text-align: left;
    padding-left: 40px;
}

.open-link-horizontal button span {
    display: inline-block;
    position: relative;
}

.arrow-icon {
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

.arrow-icon.up {
    background-image: url(/Icons/up-icon.png);
}

.arrow-icon.down {
    background-image: url(/Icons/down-icon.png);
}

#pause:enabled + #continue:disabled,
#pause:disabled {
    display: none;
}

/* 2. Top bar */

#codingTopBar {
    box-sizing: border-box;
    width: 100%;
    padding: 7px 10px;
    background-color: #aaa;
    color: white;
    height: 38px;
    overflow: hidden;
}

#filename {
    padding-top: 2px;
    float: left;
}

#filename-star {
    display: none;
    float: left;
}

.simulationControl, .accountLinks {
    float: right;
}

.simulationControl {
    height: 24px;
    padding: 0;
}

#codingTopBar button, .controlButtons button, .stepSizeButtons button {
    box-sizing: border-box;
    height: 24px;
    width: 24px;
    padding: 0;
    border: 0;
    background-position: center center;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-color: transparent;
    vertical-align: top;
    transition: background-size linear 0.25s;
}

#codingTopBar button {
    margin: 0 10px 0 0;
}

#codingTopBar button:enabled:hover, .controlButtons button:enabled:hover, .stepSizeButtons button:enabled:hover {
    background-size: 100% 100%;
}

#assemble:enabled {
    background-image: url(/Icons/assemble.png);
}

#debug:enabled {
    background-image: url(/Icons/step-by-step.png);
}

#debug:disabled {
    background-image: url(/Icons/step-by-step-grey.png);
}

#start:enabled {
    background-image: url(/Icons/Play-icon.png);
}

#start:disabled {
    background-image: url(/Icons/Play-icon-grey.png);
}

#open:enabled {
    background-image: url(/Icons/open-file-icon.png);
}

#save:enabled {
    background-image: url(/Icons/Save-icon.png);
}

#new:enabled {
    background-image: url(/Icons/new-file-icon.png);
}

.accountLinks {
    padding-top: 2px;
}

.fileControl {
     float: left;
}

#codingTopBar img, .buttonView .controlButtons img {
    width: 20px;
    height: 20px;
}

.accountLinks a {
    margin-left: 5px;
    margin-right: 10px;
    color: white;
}

/* 3. Left Sidebars */

#devices {
    z-index: 5000;
    left: -350px;
    width: 350px;
}

#devices, #architecture {
    position: absolute;
    height: 100%;
}

.devices-container {
    width: 350px;
    height: 100%;
    background-color: #444;
}

#devices .open-link {
    top: 10px;
    height: 134px;
}

#devices .open-link button {
    background-image: url(/Images/DevicesAndRam.png);
}

#devices .open-link button:hover, #devices .open-link button:active {
    background-image: url(/Images/DevicesAndRamHighlight.png);
}

#simulation {
    position: relative;
    height: 100%;
    width: 100%;
}

#architecture {
    position: absolute;
    overflow: visible !important;
    z-index: 4000;
    width: 570px;
    left: -570px;
}

.architecture-container {
    position: relative;
    float: left;
    left: 0;
    margin: 0;
    padding: 0;
    width: 570px;
    height: 100%;
    background-color: #333;
    overflow-y: auto;
}

#speedLimitReached {
    color: white;
    overflow: hidden;
    display: none;
}

#architectureDragbar{
   position: absolute;
   z-index: 1000;
   right: 0px;
   background-color: #222;
   height: 100%;
   width: 3px;
   cursor: col-resize;
}

#architecture .open-link {
    top: 160px;
    height: 109px;
}

#architecture .open-link button {
    background-image: url(/Images/Architecture.png);
}

#architecture .open-link button:hover, #architecture .open-link button:active {
    background-image: url(/Images/ArchitectureHighlight.png);
}

#architecture .open-window {
    top: 281px;
    height: 18px;
    line-height: 0px;
    background-repeat: no-repeat;
}

#architecture .spacer {
    position: absolute;
    top: 269px;
    height: 12px;
    left: 100%;
    width: 30px;
    background-image: url(/Images/Spacer.png);
}

#architecture .open-window button {
    background-image: url(/Images/NewWindow.png);
    top: 269px;
    border: 0;
    padding: 0;
    background-color: transparent;
}

#architecture .open-window button:hover, #architecture .open-window button:active {
    background-image: url(/Images/NewWindowHighlight.png);
}

#canvas {
    position: absolute;
    width: 1397px;
    height: 914px;
}

#canvasMpm, #canvasOpD {
    position: absolute;
    table-layout: fixed;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding-top: 0px;
    border-style:solid;
    border-top-style: initial;
    border-width: 1px; /*If you change this also change the staticMpmTitle and staticOpdTitle margin-left by the same amount*/
}

#canvasMpmTable, #canvasOpDTable {
    width: 100%;
    table-layout: auto;
    font-size: inherit;
    overflow: hidden;
    white-space: nowrap;
}

#canvasMpmTable tr.active, #canvasOpDTable tr.active {
    background-color: yellow; /*#FFCC33 is changed color, but the OPD doesn't change on every micro step.*/
}

#canvasdiv {
    position: relative;
}

.tabletop{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 0;
    width: 100%;	
}

.tablebottom{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 0;
    width: 100%;	
}

#staticMpmTitle, #staticOpdTitle {
    position: absolute;
    z-index: 1000;
    background-color: #ffffff;
    width: 0%;
    margin: 0 0px 0 2px;
    padding: 0px 1px 0px 0px;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
}

.titlecell {
    position: relative;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    display: inline-block;
    border-left: initial;
    margin: 0 0px 0px 0px; /*top right bottom left;*/
    padding: 0 0px 1px 0px;
    white-space: nowrap;
}

.tdsmall {
    width: 5%;
}

.tdbig {
    width: 12%;
}

/* class for all devices */
.device {
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 315px;
    padding-left: 5px;
    overflow: hidden;
    position: relative;
    top: 10px;
    background-color: white;
}

.device p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}

#ramHeader {
    overflow:hidden;
}
/* RAM device style */
#ramDevice #hideShowRam, #ramDevice #downloadRam {
    float: right;
}

#ramDevice table {
    position: relative;
    border-spacing: 2px;
    border-collapse: separate;
    font-size: 10.9pt;
    font-family: Consolas;
    text-transform: uppercase;
}

#ramDevice table, th {
    text-align: center;
}

#ramDevice #bold-elem {
    font-weight: bold;
    color: #aa1111;
    padding: 0 5px 0 0;
}

#ramDevice {
    padding-left: 2px;
}

#ramDevice .stackPointer {
    background-color: lightblue;
}

#ramDevice .instructionPointer {
    background-color: lightcoral;
}

/* 4. Bottom bar */

.output {
    height: 150px;
}

.output-container {
    position: relative;
    display: none;
    width: 100%;
    height: calc(100% - 3px);
    z-index: 4000;
    overflow-y: auto;
}

.output-container p {
    margin: 0 0 0 5px;
}

.output .open-link {
    background-color: #aaa;
    color: white;
}

#openOutput .arrow-icon {
    position: absolute;
    top: 5px;
    left: 16px;
}

#outputDragbar{
   background-color: #777;
   height: 3px;
   width: 100%;
   cursor: row-resize;
}


/* 5. Coding View */

#codingView {
    position: relative;
    z-index: 3000;
    height: 100%;
    width: calc(100% - 30px);
    left: 30px;
}

#codingFrame {
    height: calc(100% - 63px);
    min-height: 110px;
}

.breakpoint {
    color: #aa1111;
    margin-left: 1px;
    margin-top: -10px;
    font-size: 200%;
}

.breakpoint-text {
    position: absolute;
    top: 2px;
    left: 5.7px;
    color: #fafafa;
    font-size: 80%;
}

.breakpoint-container {
    overflow:hidden;
    height: 17px;
}

.bpedit-text{
	padding:1px 0 1px 0;
	margin:0 0 0 15px;
}

#bpedit-input {
    margin-left: 15px;
    width: 102px;
}

#bp-value-setter {
	position:absolute;
    z-index: 3000;
	height: 48px;
	width: 140px;
    top: 0px;
    background-color: #bbb;
	border-style: solid;
	border-width: 1px;
    visibility: hidden;
}

/* 6. Run and Debug-Controll Panel */

.runAndDebug {
    z-index: 3000;
    position: relative;
    height: 110px;
    background-color: #ccc;
    padding-top: 5px;
    padding-left: 5px;
}

#run-open-link {
    top: -25px;
    right: 1.5%;
    position: absolute;
    height: 25px;
    width: 170px;
    z-index: 4000;
    display: block;
    white-space: nowrap;
}

#run-open-link button {
    border: 0;
    color: white;
    background-color: #aaa;
    height: 25px;
    width: 100%;
    padding-right: 25px;
    padding-left: 0px;
    text-align: right;
}

#run-open-link .arrow-icon {
    position: absolute;
    top: 5px;
    right: 5px;
}

#simText {
    overflow: hidden;
    display: block;
}

.runAndDebug .buttonView {
    float: right;
    width: 230px;
}

.stepSizeRadios {
    float: left;
}

.stepSizeRadios label, .buttonView button {
    display: block;
    height: 25px;
}

.stepSizeButtons {
    display: none;
    font-size: 100%;
    float: left;
}

.stepButtonText {
    margin: 0 12px 9px 0px;
}

.stepSizeButtons button {
    margin: 0 2px 2px 0;
}

.controlButtons {
    float: right;
}

.controlButtons button {
    margin: 0 20px 2px 0;
}

#reset {
    margin-bottom: 0;
}

#pause:enabled {
    background-image: url(/Icons/Pause-icon.png);
}

#pause:disabled {
    background-image: url(/Icons/Pause-icon-grey.png);
}

#continue:enabled {
    background-image: url(/Icons/Play-icon.png);
}

#continue:disabled {
    background-image: url(/Icons/Play-icon-grey.png);
}

#stop:enabled {
    background-image: url(/Icons/Stop-icon.png);
}

#stop:disabled {
    background-image: url(/Icons/Stop-icon-grey.png);
}

#reset:enabled {
    background-image: url(/Icons/reset.png);
}

#reset:disabled {
    background-image: url(/Icons/reset-grey.png);
}

#undoInstructionStep:enabled {
    background-image: url(/Icons/undo-icon.png);
}

#undoInstructionStep:disabled {
    background-image: url(/Icons/undo-icon-grey.png);
}

#undoMacroStep:enabled {
    background-image: url(/Icons/undo-icon.png);
}

#undoMacroStep:disabled {
    background-image: url(/Icons/undo-icon-grey.png);
}
#undoMicroStep:enabled {
    background-image: url(/Icons/undo-icon.png);
}

#undoMicroStep:disabled {
    background-image: url(/Icons/undo-icon-grey.png);
}

#instructionStep:enabled {
    background-image: url(/Icons/redo-icon.png);
}

#instructionStep:disabled {
    background-image: url(/Icons/redo-icon-grey.png);
}

#macroStep:enabled {
    background-image: url(/Icons/redo-icon.png);
}

#macroStep:disabled {
    background-image: url(/Icons/redo-icon-grey.png);
}

#microStep:enabled {
    background-image: url(/Icons/redo-icon.png);
}

#microStep:disabled {
    background-image: url(/Icons/redo-icon-grey.png);
}

.buttonView .sliderDiv {
    clear: both;
    width: 98%;
}

#speedSlider {
    width: 98%;
}

#watcher-container {
    position: relative;
    width: calc(100% - 220px);
    height: 100%;
}

#watcher-container #watcher-elements {
    height: 100%;
    float: left;
    max-width: calc(100% - 68px);
    overflow-y: auto;
    overflow-x: hidden;
}

#watcher-container .watcher {
    float: left;
    position: relative;
    border: 1px solid black;
    min-width: 56px;
    height: 40px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    margin: 2px;
    text-transform: uppercase;
    background-color: white;
    overflow: hidden;
    
}

#watcher-container .watcher button {
    position: absolute;
    right: -3px;
    top: -3px;
    border: 0px;
    background-color: transparent;
}

#watcher-container .watcher a {
    text-decoration: none;
    color: black;
}

#watcher-container .watcher .changed {
    background-color: #FFCC33;
}

#watcher-container .watcher a:hover {
    text-decoration: underline;
}

#watcher-container .watcher p {
    margin: 1px;
    margin-bottom: 0px;
}

#watcher-container #addWatchElement {
    float: left;
    position: relative;
    display: block;
}

#watcher-container #addWatchElement button {
    right: 0px;
    top: 0px;
    position: relative;
    display: block;
    width: 56px;
    height: 40px;
}

#watcher-container #addWatchElement h1 {
    position: relative;
    margin: 0px;
}

/* 7. Register watches */

#addWatches {
    display: none;
    z-index: 5000;
    position: absolute;
    left: 2px;
    width: 200px;
    min-height: 40px;
    background-color: white;
    border: 1px solid black;  
}

#addWatches span {
    font-weight: bold;
    padding-left: 5px;
}

#addWatches a {
    width: 190px;
    padding-left: 5px;
    display: block;
    color: black;
    text-decoration: none;
}

#addWatches a:hover {
    background-color: ghostwhite;
}

/* 8. FileManagement */

#fileSystem {
    z-index: 5000;
    display: none;
    position: absolute;
    left: 2px;
    top: 38px;
    width: 300px;
    height: 300px;
    background-color: white;
    border: 1px solid black;
}

#fileSystem #folderPath {
    margin-left: 5px;
    height: 28px;
}

#fileSystem #files{
    width: 100%;
    height: 244px;
    overflow-y: auto;
}

#fileSystem #files .file-node {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

#fileSystem #files .file-node:hover {
    background-color:ghostwhite;
}

#fileSystem #files .file-node .openLink {
    width: calc(100% - 80px);
    display: inline-block;
    text-decoration: none;
}

#fileSystem #files .file-node input {
    width: calc(100% - 86px);
    display: inline-block;
}

#fileSystem .addElement button {
    width: 49%;
    background-color: none;
    border: 0px none;
}

#fileSystem #closeFileSystem {
    float: right;
    background: none;
    border: solid 1px white;
}

#fileSystem #closeFileSystem:hover {
    background: grey;
}

/* Icons */
.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: transparent;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    border: none;
}

.fileIcon {
    background-image: url(/Icons/file-text-icon.png);
}

.folderIcon {
    background-image: url(/Icons/folder-close-icon.png);
}

.editIcon {
    background-image: url(/Icons/Pencil-icon.png);
}

.removeIcon {
    background-image: url(/Icons/trash-icon.png);
}

.okIcon {
    background-image: url(/Icons/ok-icon.png);
}

.cancelIcon {
    background-image: url(/Icons/delete-2-icon.png);
}

.saveIcon {
    background-image: url(/Icons/Save-icon.png);   
}

.arrowUpIcon {
    background-image: url(/Icons/up-icon.png); 
}

.arrowDownIcon {
    background-image: url(/Icons/down-icon.png); 
}

/* 9. CodeMirror external changes */

.CodeMirror {
    height: 100% !important;
    font-family: Consolas !important;
    font-size: 11pt !important;
}

#codingFrame.running .CodeMirror-activeline-background {
    background-color: greenyellow !important;
}

