﻿@{
    Layout = "~/Views/Shared/_StebsLayout.cshtml";
}

<div id="devices">
    <div id="deviceElements" class="devices-container">
        <div id="ramDevice" class="device">
            <div id="ramHeader">
                <button id="hideShowRam" class="icon arrowUpIcon"></button>
                @Html.ActionLink(" ", "DownloadMemory", null, new Dictionary<string, object>() { ["id"] = "downloadRam", ["class"] = "icon saveIcon", ["target"] = "_blank" })
                <p>RAM</p>
            </div>
            <div id="ramTable"></div>
        </div>
        <div id="deviceControl" class="device">
            <p>Add Device</p>
            <form id="addDeviceForm">
                <select id="deviceSelect">
                    <option>Loading...</option>
                </select>
                <input type="number" min="0" max="255" id="deviceSlot" />
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
    <div class="open-link open-link-vertical">
        <button id="openDevices"></button>
    </div>
</div>
<div id="simulation">
    <div id="architecture">
        <div class="architecture-container">
            <div style="display:none">
                <img id="archpic" src="~/Images/ArchitectureDisplay.png" />
            </div>
            <canvas id="canvas"></canvas>
                <div id="staticMpmTitle"> <!--This is the actual title, formatting because newlines cause a distance between divs-->
                    <div class="addr titlecell">ADDR
                    </div><div class="titlecell">NA
                    </div><div class="titlecell">CIF
                    </div><div class="titlecell">EF
                    </div><div class="titlecell">CRIT
                    </div><div class="titlecell">VAL
                    </div><div class="titlecell">AF
                    </div><div class="titlecell">ALU
                    </div><div class="titlecell">IO/MEM
                    </div><div class="titlecell">SRC
                    </div><div class="titlecell">DST
                    </div><div class="titlecell">CR
                    </div>
                </div>
            <div id="canvasMpm">
                <div class="tabletop"></div>
                <table id="canvasMpmTable" border="1">
                    <tr class="tabletitle"> <!--Not the actual title, used for widths. Entry has to be wider than widest table entry-->
                        <td class="tdsmall">ADDR</td>
                        <td class="tdbig">Decode</td>
                        <td class="tdsmall">CIF</td>
                        <td class="tdsmall">EF </td>
                        <td class="tdbig">NoOverflow</td>
                        <td class="tdsmall">VAL</td>
                        <td class="tdsmall">AF </td>
                        <td class="tdsmall">WWW</td>
                        <td class="tdbig">Memory</td>
                        <td class="tdbig">SELRef</td>
                        <td class="tdbig">SELRef</td>
                        <td class="tdbig">Read</td>
                    </tr>
                </table>
                <div class="tablebottom"></div>
            </div>
                <div id="staticOpdTitle"> <!--This is the actual title, formatting because newlines cause a distance between divs-->
                    <div style="width: 20%" class="addr titlecell">OPC
                    </div><div style="width: 30%" class="titlecell">MPMADDR
                    </div><div style="width: 50%" class="titlecell">INSTR TYPE
                    </div>
                </div>
            <div id="canvasOpD">
                <div class="tabletop"></div>
                <table id="canvasOpDTable" border="1">
                    <tr class="tabletitle">
                        <td width="20%">OPC</td>
                        <td width="30%">MPMADDR</td>
                        <td width="50%">INSTR TYPE</td>
                    </tr>
                </table>
                <div class="tablebottom"></div>
            </div>
        </div>
        <div class="open-link open-link-vertical">
            <button id="openArchitecture"></button>
        </div>
        <div class="spacer"></div>
        <div class="open-window open-link-vertical">
            <button id="openNewArchitecture"></button>
        </div>
        <div id="architectureDragbar"></div>
        <p id="speedLimitReached">Speed limit reached, please lower the speed if you would like to see the architecture.</p>
    </div>

    <div id="codingView">
        <div id="codingTopBar">
            <div class="accountLinks">
                @using Microsoft.AspNet.Identity
                @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                        @Html.AntiForgeryToken()
                        @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = User.Identity.GetUserName() })
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    }
                }
            </div>
            <div class="simulationControl">
                <button id="assemble" title="Assemble (ctrl+b)"></button><button id="debug" title="Single Step (ctrl+j)"></button><button id="start" title="Run (ctrl+g)"></button>
            </div>
            <div class="fileControl">
                <button id="open" title="Open (ctrl+o)"></button><button id="save" title="Save (ctrl+s)"></button><button id="new" title="New (ctrl+n)"></button>
            </div>
            <span id="filename-star">*</span><span id="filename">New File</span>
        </div>
        <div id="codingFrame">
            <textarea id="codingTextArea"></textarea>
        </div>
        <div class="output">
            <div class="open-link open-link-horizontal">
                <button id="openOutput"><span class="arrow-icon up"></span><span>Output</span></button>
            </div>
            <div id="outputDragbar"></div>
            <div class="output-container">
                <textarea id="outputTextArea"></textarea>
            </div>
        </div>
        <div id='fileSystem'>
            <button id="closeFileSystem">x</button>
            <div id="folderPath"></div>
            <div id="files"></div>
            <div class="addElement">
                <button id="addFile"><img class="icon" src="~/Icons/file-text-icon.png"> Add</button>
                <button id="addFolder"><img class="icon" src="~/Icons/folder-close-icon.png"> Add</button>
            </div>
        </div>
    </div>
    <div class="runAndDebug">
        <div id="run-open-link">
            <button><span class="arrow-icon up"></span><span id="simText">Simulation Control</span></button>
        </div>
        <div class="buttonView">
            <div class="controlButtons">
                <button id="pause" title="Pause (ctrl+g)"></button>
                <button id="continue" title="Continue (ctrl+g)"></button>
                <button id="stop" title="Stop (ctrl+h or esc)"></button>
                <button id="reset" title="Reset"></button>
            </div>
            <div class="stepSizeRadios">
                <label><input id="instructionStepSpeed" name="speedGroup" type="radio" checked="checked" /> Instruction Step</label>
                <label><input id="macroStepSpeed" name="speedGroup" type="radio" /> Macro Step</label>
                <label><input id="microStepSpeed" name="speedGroup" type="radio" /> Micro Step</label>
            </div>
            <div class="stepSizeButtons">
                <div class="stepButtonText">Instruction Step</div>
                <div class="stepButtonText">Macro Step</div>
                <div class="stepButtonText">Micro Step</div>
            </div>
            <div class="stepSizeButtons">
                <button id="undoInstructionStep" title="Undo an instruction step"></button>
                <button id="undoMacroStep" title="Undo a macro step"></button>
                <button id="undoMicroStep" title="Undo a micro step"></button>
            </div>
            <div class="stepSizeButtons">
                <button id="instructionStep" title="Do an instruction step"></button>
                <button id="macroStep" title="Do a macro step"></button>
                <button id="microStep" title="Do a micro step"></button>
            </div>
            <div class="sliderDiv">
                <input id="speedSlider" title="Change simulation speed" type="range" min="0" max="100" step="1" value="37" />
            </div>
        </div>
        <div id="watcher-container">
            <div id="watcher-elements">
            </div>
            <div class="watcher watchElement" id="addWatchElement">
                <button id="newWatchesButton">
                    <h1>+</h1>
                </button>
            </div>
        </div>
    </div>

</div>
<div id="addWatches">
    <span>Select</span>
    <div id="elementList"></div>
</div>
<div id="bp-value-setter">
    <p class="bpedit-text">Trigger on call:</p>
    <input type="number" min="1" pattern="[0-9]" id="bpedit-input" value="1" />
</div>